<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>wisdom-bank</title>
</head>
<body>
  <object title="devControl"
    classid="clsid:487B21FA-0862-4544-A20C-E927C8F99DA9"
    hspace="0" vspace="0" id="BOCOMDevControl"></object>
  <div id="root"></div>
  <script language="JavaScript" for="BOCOMDevControl" event="OnAsynExecuted(p1, p2, p3, p4)">
    window.OnAsynExecuted(p1,p2,p3,p4)
  </script>

  <!--非接模块事件-->

  <script language="JavaScript" for="BOCOMDevControl" event="OnContactlessCardIn()">
    window.OnContactlessCardIn()
  </script>

  <script language="JavaScript" for="BOCOMDevControl" event="OnContactlessCardTaken()">
    window.OnContactlessCardTaken()
  </script>

  <!--非接模块事件-->

  <script language="JavaScript" for="BOCOMDevControl" event="OnPinPadKeyPressed()">
    window.OnPinPadKeyPressed()
  </script>
</body>
</html>
