
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.wb-button {
  display: block;
  margin: 0 auto;
  /* width: 500px; */
  height: 64px;
  line-height:64px;
  background-color: rgba(255, 0, 0, 1);
  font-size: 28px;
  text-align: center;
  border: solid 1px #ddd;
  border-radius: 6px;
  color: #fff;
}

.wb-button.single {
  display: block;
  margin: 0 20px;
}

