@import './theme/colors.scss';


html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

@import './components/buttons.scss';

.hide {
  display: none!important;
}

#BOCOMDevControl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

